:root {
  --colorOne : #314584;
  --colorTWo : #ff3946;
  --colorThree : #f4fafe;
}

/* Extra small devices (phones, 600px and down) */
/* start Header */
@media (min-width: 0px) and (max-width: 991px) {
  .header {
    height: 480px;
    margin-top: -80px;
  }
  .header {
    position: relative;
  }
  .header .img-logo {
    height: 30px;
  }
  .header .flex-bar {
    display: flex;
    height: 65px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    right: 0;
    left: 0;
    background: white;
    margin: 0 auto;
  }
  .header .flex-bar .menu-btn {
    display: block;
    position: relative;
    width: 22px;
    height: 29px;
    user-select: none;
  }
  .header .flex-bar .menu-btn i{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .header .flex-bar ul,
  .header .flex-bar .contact-btn {
    display: none;
  }
  .header .mobile-nav {
    padding-top: 90px;
    height: 100vh;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
    right: -100%;
    transition: right .8s;
    -webkit-transition: right .8s;
    -moz-transition: right .8s;
    -ms-transition: right .8s;
    -o-transition: right .8s;
    top: 60px;
  }
  .right {
    right: 0% !important;
  }
  .header .mobile-nav ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }
  .header .mobile-nav ul li:not(:last-of-type) {
    margin-bottom: 40px;
  }
  .header .mobile-nav ul li:first-of-type a{
    color: var(--colorTWo);
  }
  .header .mobile-nav ul li a{
    padding: 20px;
    color: var(--colorOne);
    font-size: 25px;
    font-weight: 600;
  }
  .header .mobile-nav ul li a:hover{
    color: var(--colorTWo);
  }
  .header .home-content {
    display: block;
    margin-top: 150px;
  }
  .header .home-content .content {
    width: auto;
    text-align: center;
  }
  .header .home-content .content h1 {
    font-size: 42px;
  }
  .header .home-content .content h1 + p {
    font-size: 14px;
  }
  .header .home-content .content .btns {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .header .home-content .content .btns .about-us-btn {
    padding: 18px 30px;
    font-size: 15px;
  }
  .header .home-content .content .btns .get-touch-btn {
    font-size: 15px;
  }
  .header .home-content .content .btns .about-us-btn:hover {
    padding: 16px 28px;
  }
  .header .home-content .home-img {
    display: none;
  }
}
/* end Header */
/* start Services */
@media (min-width: 0px) and (max-width: 991px) {
  .services .content .service:first-of-type h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .content .service:first-of-type .btn {
    margin: 0 auto 60px;
  }
  .services .content .service:not(:first-of-type) {
    padding: 20px;
    width: 300px;
    height: 350px;
    margin: 0 auto;
  }
  .services .content .service:not(:first-of-type) h2 {
    font-size: 25px;
  }
  .services .content .service:not(:first-of-type) p {
    font-size: 14px;
    line-height: 1.7;
    
  }
}
/* end Services */
/* start About */
@media (min-width: 0px) and (max-width: 991px){
  .about {
    margin-top: 50px;
    padding: 40px 0;
    position: relative;
  }
  .about .container {
    grid-template-columns: repeat(auto-fill,minmax(280px, auto));
    row-gap: 80px;
}
  .about .container .img-container {
    width: auto;
  }
  .about .container .about-content {
    text-align: center;
  }
  .about .container .about-content p:first-of-type {
    font-size: 15px;
  }
  .about .container .about-content h2 {
    font-size: 32px;
    line-height: 1.5;
  }
  .about .container .about-content p:last-of-type {
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--colorOne);
  }
}
/* end About */
/* start portfolio */
@media (min-width: 0px) and (max-width: 991px) {
  .portfolio {
    text-align: center;
  }
  .portfolio .container > h2 {
    font-size: 32px;
    line-height: 1.5;
  }
  .portfolio .container .grid-imgs {
    grid-template-columns: repeat(auto-fill, minmax(280px , auto));
    row-gap: 30px;
  }
  .portfolio .container .grid-imgs .img {
    margin: 0 auto;
    width: 100%;
  }
  /* .portfolio .container .grid-imgs .img div {
    display: none;
  } */
  .portfolio .container .show {
    font-size: 16px;
  }
}
/* end portfolio */
/* start blog */
@media (min-width: 0px) and (max-width: 991px) {
  .blog {
    text-align: center;
  }
  .blog .container > h2 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  .blog .container .btn {
    display: none;
  }
  .blog .container .grid-container .grid-1 {
    grid-template-columns: repeat(auto-fill , minmax(280px,auto));
  }
  .blog .container .grid-container .grid-1 .col {
    width: 100%;
    height: 320px;
    margin: 0 auto;
  }
  .blog .container .grid-container .grid-1 .col h3 {
    font-size: 18px;
    letter-spacing: 1px;
  }
  .blog .container .grid-container .grid-1 .col p:first-of-type {
    opacity: .98;
    font-size: 15px;
  }
  .blog .container .grid-container .grid-1 .col p:last-of-type {
    font-size: 17px;
  }
}
/* end blog */
/* start Contact */
@media (min-width: 0px) and (max-width: 991px){
  .contact {
    text-align: center;
  }
  .contact .container > h2 {
    font-size: 32px;
  }
  .contact .container .info-contact {
    display: block;
    width: 100%;
  }
  .contact .container .info-contact .email,
  .contact .container .info-contact .subject,
  .contact .container .text textarea {
    width: 100%;
    font-size: 14px;
  }
  .contact .container .info-contact .email {
    margin-bottom: 20px;
  }
}
/* end Contact */
/* start footer */
@media (min-width: 0px) and (max-width: 991px) {
  .footer {
    text-align: center;
    padding: 30px 0;
    padding-bottom: 80px;
  }
  .footer .container > p:first-of-type {
    font-size: 15px;
  }
  .footer .container > h2 {
    font-size: 28px;
    margin-top: 25px;
  }
  .footer .container .nav-menu {
    margin: 50px 0 35px;
    width: 100%;
  }
  .footer .container .nav-menu ul {
    display: block;
    padding: 0;
  }
  .footer .container .nav-menu ul li:not(:last-of-type) {
    margin-right: 5px;
    margin: 20px;
  }
  .footer .container .nav-menu ul li a {
    font-size: 16px;
    font-weight: 400;
  }
  .footer .container > p:last-of-type {
    font-size: 12px;
  }
  .footer .container .social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer .container .social-media a{
    margin-top: 20px;
    font-size: 25px;
  }
  .footer .container .social-media a:not(:last-of-type) {
    margin-right: 25px;
    margin-left: 25px;
  }
  .footer .container .social-media a:nth-of-type(2),
  .footer .container .social-media a:nth-of-type(5), 
  .footer .container .social-media a:nth-of-type(6){
    display: none;
  }
}
/* end footer */




/* Small devices (portrait tablets and large phones, 600px and up) */
/* start Header */
@media (min-width: 600px) and (max-width: 991px) {
  .header .home-content .content .btns .about-us-btn {
    padding: 18px 38px;
  }
  .header .home-content .content .btns .about-us-btn:hover {
    padding: 16px 36px;
  }
}
/* end Header */
/* start Services */
@media (min-width: 600px) and (max-width: 991px) {
  .services .content {
    grid-template-columns: repeat(auto-fill,minmax(217px , 1fr));
    gap: 30px;
  }
  .services .content .service:first-of-type {
    grid-column: 1 / span 2;
    width: 100%;
  }
  .services .content .service:first-of-type .btn {
    margin: 0 auto 60px;
  }
  .services .content .service:not(:first-of-type) {
    padding: 20px;
    height: 380px;
    width: 100%;
  }
  .services .content .service:not(:first-of-type) h2 {
    margin: 25px 0;
  }
  .services .content .service:not(:first-of-type) p {
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 1px;
  }
}
/* end Services */
/* start Contact */
@media (min-width: 600px) and (max-width: 991px){
  .contact .container .info-contact .email,
  .contact .container .info-contact .subject,
  .contact .container .text textarea {
    font-size: 15px;
  }
}
/* end Contact */
/* start footer */
@media (min-width: 600px) and (max-width: 991px){
  .footer .container > h2 {
    font-size: 40px;
  }
  .footer .container .nav-menu {
    margin: 35px 0;
  }
  .footer .container .nav-menu ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  .footer .container .nav-menu ul li:not(:last-of-type) {
    margin: 0px;
    margin-right: 5px;
  }
  .footer .container .social-media a:not(:last-of-type) {
    margin-right: 50px;
    margin-left: 0px;
  }
  .footer .container .social-media a:nth-of-type(2),
  .footer .container .social-media a:nth-of-type(5), 
  .footer .container .social-media a:nth-of-type(6){
    display: block;
  }
  /* start scroll to top */
  .scroll-top {
    right: 3% !important;
  }
  /* end scroll to top */
}
/* end footer */


/* Medium devices (landscape tablets, 768px and up) */
/* start Header */
@media(min-width: 768px) and (max-width: 991px){
  .header .home-content .content {
    width: 522px;
    margin-left: auto;
    margin-right: auto;
  }
  .header .home-content .content h1 {
    font-size: 71px;
  }
  .header .home-content .content p {
    font-size: 18px;
  }
}
/* end Header */
/* start Services */
@media(min-width: 768px) and (max-width: 991px) {
  .services .content {
    column-gap: 50px;
  }
  .services .content .service:not(:first-of-type) {
    padding: 35px 40px;
    height: 400px;
  }
}
/* end Services */
/* start About */
@media(min-width: 768px) and (max-width: 991px){
  .about .container .about-content p:last-of-type {
    letter-spacing: 1px;
  }
}
/* end About */

/* Large devices (laptops/desktops, 992px and up) */
/* start Header */
@media (min-width : 992px) {
  .header .mobile-nav {
    display: none;
  }
  /* start scroll to top */
  .scroll-top {
    right: 3% !important;
  }
  /* end scroll to top */
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    height: 750px;
  }
  .header .img-logo {
    width: 70px;
    height: 35px;
  }
  .header .nav-menu ul li {
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
  }
  .header .nav-menu ul li:not(:last-of-type){
    margin-right: 5px;
  }
  .header .contact-btn {
    box-shadow: none;
    padding: 15px 20px;
    font-size: 17px;
  }
  .header .home-content .content {
    margin-top: 200px;
  }
  .header .home-content .home-img {
    right: 0px;
    width: 440px;
    height: 520px;
  }
}
/* end Header */
/* start Services */
@media (min-width : 992px) and (max-width: 1199px) {
  .services .content {
    grid-template-columns: repeat(auto-fill,minmax(266px , auto));
  }
  .services .content .service:first-of-type h2 {
    font-size: 32px;
    line-height: 1.5;
  }
  .services .content .service:not(:first-of-type) {
    padding: 30px 35px;
    height: 400px;
  }
  .services .content .service:not(:first-of-type) h2 {
    font-size: 22px;
  }
  .services .content .service:not(:first-of-type) p {
    font-size: 14px;
  }
}
/* end Services */
/* start About */
@media (min-width: 992px) and (max-width: 1199px) {
  .about .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px, auto));
    gap: 20px;
  }
  .about .container .img-container,
  .about .container .about-content {
    width: 450px;
  }
  .about .container .about-content p:first-of-type {
    font-size: 16px;
  }
  .about .container .about-content h2 {
    font-size: 32px;
  }
  .about .container .about-content p:last-of-type {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
/* end About */
/* start portfolio */
@media (min-width: 992px) and (max-width: 1199px) {
  .portfolio .container > h2 {
    font-size: 32px;
    line-height: 1.4;
    color: var(--colorOne);
    margin-bottom: 50px;
  }
  .portfolio .container .grid-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto , 294px));
    gap: 20px;
  }
  .portfolio .container .grid-imgs .img {
    width: 294px;
    height: 220px;
    position: relative;
    background-size: 100% 100%;
  }
}
/* end portfolio */
/* start blog */
@media (min-width: 992px) and (max-width: 1199px) {
  .blog {
    margin-top: 120px;
    position: relative;
  }
  .blog .container > p {
    font-size: 16px;
  }
  .blog .container > h2 {
    font-size: 32px;
  }
  .blog .container .btn {
    color: var(--colorOne);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 auto;
    padding-right: 80px;
  }
  .blog .container .btn .left i, 
  .blog .container .btn .right i {
    font-size: 30px;
  }
  .blog .container .grid-container .grid-1 {
    grid-template-columns: repeat(auto-fill , minmax(auto, 294px));
  }
  .blog .container .grid-container .grid-1 .col {
    height: 310px;
    padding: 15px 25px;
  }
  .blog .container .grid-container .grid-1 .col h3 {
    font-size: 18px;
  }
  .blog .container .grid-container .grid-1 .col p:first-of-type {
    font-size: 13px;
  }
  .blog .container .grid-container .grid-1 .col p:last-of-type {
    font-size: 16px;
  }
}
/* end blog */
/* start contact */
@media (min-width: 992px) and (max-width: 1199px) {
  .contact {
    margin: 120px 0 80px ;
  }
  .contact .container > p {
    font-size: 16px;
  }
  .contact .container > h2 {
    font-size: 32px;
  }
  .contact .container .info-contact .email,
  .contact .container .info-contact .subject,
  .contact .container .text textarea {
    font-size: 14px;
  }
}
/* end contact */
/* start footer */
@media (min-width: 992px) and (max-width: 1199px) {
  .footer {
    padding: 50px 80px;
  }
  .footer .container > p:first-of-type {
    font-size: 16px;
  }
  .footer .container > h2 {
    font-size: 45px;
  }
}
/* end footer */


/* Extra small devices (phones, 600px and down) */
@media (min-width: 0px) and (max-width: 1199px) {
  .container {
    padding: 0 20px;
    max-width: 560px;
    margin: 0 auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 1199px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media(min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 708px;
    margin: 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 962px;
    margin: 0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1199px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}